@import url(../css/resetStyles.css);

body {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
}

.wrapper {
  min-height: 100vh;
  background: url("../images/backgraund.jpg") 0 0 repeat-y;
  background-size: 100%;
}
.header {
  background: url("../images/header.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;

  &__link {
    color: aqua;
    font-size: 50px;
    letter-spacing: 3px;
    &:hover {
      text-decoration: underline white;
    }
  }
  &__subtitle {
    color: yellow;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .header {
    position: static;
  }
}
@media (max-width: 320px) {
  .header__link {
    font-size: 30px;
  }
}

//////////////

.main {
  margin: 20px 0px 0px 0px;
}
.cars {
  padding: 20px;
  &__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    color: aqua;
    font-size: 20px;
  }
  &__img {
    position: relative;
    margin: 0px 0px 20px 0px;
    overflow: hidden;
    border-radius: 20px;
  }
  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: all 1s ease 0s;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  &__name {
    font-size: 30px;
    color: rgb(255, 255, 0);
    text-align: center;
  }

  &__list {
    padding: 20px;
  }

  &__list li {
    padding: 0 10px;
    background: grey;
    margin-bottom: 10px;
    max-height: 25%;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
    line-height: 2;
    background-color: rgba(240, 248, 255, 0.078);
  }
  &__list li:last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 320px) {
  .cars__name {
    font-size: 25px;
  }
}

.services {
  &__title {
    background: aqua;
    padding: 10px;
    text-align: center;
    font-size: 30px;
  }
  &__table {
    background: black;
    width: 100%;
    padding: 20px;
    font-size: 20px;
  }
  &__table th,
  td {
    padding: 5px;
  }
  &__table th {
    color: yellow;
    background-color: rgba(144, 0, 255, 0.336);
  }
  &__table td {
    border: 1px solid rgba(255, 255, 255, 0.392);
    color: aqua;
    background: rgba(255, 255, 255, 0.197);
  }
  &__table td:first-child {
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: url("../images/footer.jpg") 0 0 no-repeat;
  padding: 20px;
  font-size: 20px;
  color: white;
  &__contacts {
    display: flex;
    margin: 0px 10px 0px 0px;
  }
  &__numbers li {
    display: inline-block;
  }
  &__numbers a {
    display: block;
    font-size: 20px;
    color: yellow;
    margin: 0px 0px 5px 5px;
    text-decoration: underline white;
  }
  &__text {
  }
}
